:root{
  --color-bg1: rgba(116, 197, 255, 1);
  --color-bg2: rgba(255, 185, 202, 1);
  --color-bg3: rgba(255, 109, 141, 1);
  --color-bg4: rgba(37, 128, 193, 1);
  --color-bg5: rgba(255, 242, 214, 1);
  --color-button: rgba(106, 25, 245, 1);
  --color-text1: rgba(255, 255, 255, 1);
  --color-text2: rgba(42, 42, 42, 1);

  font-size: 62.5%;
  font-family:'Work Sans', sans-serif;
  color: var(--color-text2);
  
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*{
  margin: 0;
}

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.secform {
  background-color: var(--color-bg1);
  display: block;
}

.form1{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    line-height: 167%;
    padding: 3.5rem;
    align-items: stretch;
    max-width: 62rem;
    margin: 0 auto;
    text-align: left;
}

label {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.form1 input[type=text], input[type=date], input[type=password], input[type=email], input[type=tel]{
  background-color: rgb(166, 216, 252);
  display: block; 
  min-width: 25rem;
  min-height: 6rem;
  border: 0;
  border-radius: 1rem;
  padding-left: 1.81em;
  padding-right: 1rem;
  margin-bottom: 1.5rem;
  max-width: 62rem;
}

.gender{
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0;
}

.formbutton {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  background-color: var(--color-button);
  color: var(--color-text1);
  text-align: center;
  border-radius: 5px;
  border: 0;
  text-decoration: none;

  padding: 16px 60px 16px 60px;
  margin-bottom:2rem;
}

.man {
  margin-right: 5rem;
}

::placeholder {
  color: gray;
}

header {
  font-size: 1.6rem;
  font-weight: 500;
}

.headerlogo {
  width: 11.35rem;
  height: 3.5rem;
}

.headerlogopc {
  display: none;
}

.head {
  display: flex;
  justify-content: space-between;
  height: 6.5rem;
  padding: 1.5rem;
}

.ahead {
  text-decoration: 0;
  text-transform: uppercase;
  color: var(--color-text2);
}

.navhead {
  display: none;
}

.menubutton {
  border: 0;
  background-color: white;
  padding: 0;
  width: 3.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
}

.donatebutton {
  display: none;
  background-color: #F9523B;
  color: white;

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.1rem;

  border: 0;
  border-radius: 5px;
  margin: 4rem 0rem 4rem 11.4rem;
  padding: 1.5rem 4.2rem;

  box-shadow: 5px 10px 8px black;
}

.volunteers
{
  margin: 7.4rem 0 4.3rem 0;
  padding-left: 2rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.volun{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgdiv {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 10rem auto;
}

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
  margin: 5rem auto 10rem auto;
}

.classroom {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 2.9rem auto 9.5rem auto;
}

.classpc{
  display: flex;
  flex-direction: column-reverse;
}

.volunteerbut {
  display: none;
}

.fest{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 5rem auto 10rem auto;
}

.img2 {
  width: 37.5rem;
  height: 37.5rem;
  margin-top: 5rem;
}

.imgVol {
  margin-bottom: 8.5rem;
  width: 37.5rem;
  height: 30.55rem;
}

.imgClass {
  margin-top: 10rem;
  width: 37.5rem;
  height: 26.295rem;
}

.imgFest {
  margin-top: 7.5rem;
  width: 37.5rem;
  height: 30.412rem;
}

.p101 {
  display: none;
}

.h1 {
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: 0.15rem;
  line-height: 4.1rem;
  text-align: center;
  margin:0;

  background-image: linear-gradient(to right, black, var(--color-bg3) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 3.9rem;
  text-align: center;
}

.h21{
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 3.9rem;
  text-align: center;
}

.h22 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 3.9rem;
  text-align: center;
}

.h23 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 3.9rem;
  text-align: center;
}

.h24 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 3.9rem;
  text-align: center;
}

#p01{
  font-size: 2.86rem;
  font-weight: 500;
  line-height: 3.718rem;
  text-align: left;
  margin: 3rem 0 2rem 0;
}

#p2 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: left;
}

.p02{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: center;  
}

.p03{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: left;
}

.p04 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: center;

  width: 5.7rem;
  margin: 0 auto;
}

.p05 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: center;

  margin: 0.5rem auto 3rem auto;
  width: 12.3rem;
}

.p06 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: left;

  margin: 2rem auto 5rem auto;
  /*width: 34.5rem;*/
}

.p07 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: left;
  padding: 0 1.5rem;
  margin-top: 2rem
}

.p08 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: left;
  padding: 0 1.5rem;
  margin: 2rem 0 5rem 0;
}

.p09 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  text-align: left;

  margin: 3rem 0 5rem 0;
  padding: 0 5.2rem 0 1.5rem;
}

.p10 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;

  margin: 3rem 18.8rem 8.9rem 1.5rem;
}


.radio {
  margin:0 auto;
  width: 5rem;
  display: flex;
  justify-content: space-between;
}
.inp1, .inp2, .inp3 {
  margin: 0;
  width: 1rem;
  height: 1rem;
}

.inp2 {
  margin: 0 1rem;
}

blockquote{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.08rem;
  text-align: center;

  padding: 0 3.4rem;
  margin: 5rem auto 3rem auto;
}

li {
list-style-type: none;
}

.b1{
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.1rem;
  background-color: var(--color-button);
  color: var(--color-text1);
  text-align: center;
  border-radius: 5px;
  border: 0;

  padding: 1.5rem 6.7rem;
  margin: 0 auto;
  max-width: 50rem;
}

.b2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.1rem;
  background-color: var(--color-button);
  color: var(--color-text1);
  text-align: center;
  border-radius: 5px;
  border: 0;

  margin: 0 auto;
  padding: 15px 110px 14px 108px;
  width: 34.5rem;
  height: 5rem;
}

ul, li {
  margin: 0;
  padding: 0;
}

.ul2 {
  display: flex;
  justify-content: space-between;
  margin: 0 1.6rem 3rem 1.6rem;
}

.nav1 {
  display: flex;
  flex-direction: row;
  width: 23.2rem;
  margin: 0 auto;
  justify-content: space-between;
}

.ulflex {
  display: flex;
}

.ul1, .ul12 {
  text-align: left;
}

.ul12 {
  padding-left: 5.4rem;
}

.nav1 li {
  margin-bottom: 3.5rem;
  text-transform: uppercase;
}

.a{
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  background-color: var(--color-button);
  color: var(--color-text1);
  text-align: center;
  border-radius: 5px;
  border: 0;
  text-decoration: none;

  padding: 16px 60px 16px 60px;
  margin: 0 auto;
  width: 34.5rem;
}

.a02{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.08rem;
  text-decoration: none;
  color: var(--color-text2);
}

#p04{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.08rem;
  text-align: center;

  margin: 1.5rem auto 1rem auto;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sec01{
  background-color: var(--color-bg1);
}

#sec02{
  background-color: var(--color-bg3);
  
}

#sec03{
  background-color: var(--color-text1);
}

#sec04{
  background-color: var(--color-bg4);
  color: var(--color-text1);
}

#sec05{
  background-color: var(--color-text1);
}

button {
  transition: 0.5s;
}

button:hover {
  transform: scale(1.1);
}

button:active{
  transform: scale(0.9);
}

button:focus{
  box-shadow: -12px 12px 32px rgb(0, 0, 0, 1);
  }

input:focus {
  box-shadow: -12px 12px 32px rgb(0, 0, 0, 1);
}

::selection{
  background-color: rgba(137, 43, 226, 0.445);
  color: aliceblue;
}

footer{
  background-color: var(--color-bg5);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgfooter {
  width: 34.5rem;
  height: 17.2rem;
}

@media (min-width:768px){
  .h1{
    font-size: 3.84rem;
    font-weight: 500;
    line-height: 4.36rem;
    letter-spacing: 0.05em;
    text-align: left;
  }

  .volunteers{
    padding-left: 9.6rem;
    padding-right: 3.56rem;
    margin: 5.96rem 0 5.96rem 0;
    justify-content: start;
  }

  .imgVol {
    min-width: 263.9px;
    min-height: 214.97px;

    /*margin-right: 5.42rem;*/
    margin-bottom: 1.8rem;
  }

  .volun{
    flex-direction: row;
  }

  #p01{
    font-size: 1.28rem;
    line-height: 130%;
  }

  #p2 {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: left;
  }

  .testimonials {
    margin: 7.16rem 0 4rem 0;
    padding: 0 9.6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .h21{
    font-size: 2.08rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    line-height: 2.7rem;
    text-align: center;
  }

  blockquote{
    font-size: 0.96rem;
    font-weight: 500;
    line-height: 1.44rem;
    text-align: center;
  
    width: 34.76rem;
    padding: 0;
    margin: 3.2rem auto 2.4rem auto;

  }

  .p04 {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: center;
  
    width: 3.24rem;
  }

  .p05 {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: center;
    opacity: 0.7;

    margin: 0;
    width: 8rem;
  }

  .leadpc {
    display: flex;
    justify-content: space-between;
    width: 67.2rem;
  }

  .lead {
    width: 23.56rem;
    padding: 0;
    justify-content: start;
    margin-top: 14.36rem;
  }

  .b1{
    font-size: 0.72rem;
    font-weight: 600;
    line-height: 0.84rem;
    background-color: var(--color-button);
    color: var(--color-text1);
    text-align: left;
    border-radius: 5px;

    border: 0;
    margin: 0;
    padding: 0.76rem 1.44rem;
    max-width: 11.36rem;
  }

  .h22 {
    text-align: left;
    font-size: 2.08rem;
    line-height: 2.7rem;
  }

  .p06 {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2rem;
  
    margin: 1.6rem auto 1.76rem auto;
  }

  .img2 {
    width: 37.16rem;
    height: 40.68rem;
  }

  .classpc {
    flex-direction: row;
    justify-content: space-between;
    width: 63.12rem;
    margin-left: 9.8rem;
  }

  .classroom {
    display: flex;
    width: 21.92rem;
    margin: 8.2rem 0 12.2rem 0;
  }

  .volunteerbut {
    display: block;

    background-color: yellow;
    border: 0;
    border-radius: 5px;

    font-weight: 600;
    font-size: 0.72rem;
    line-height: 0.84rem;
    letter-spacing: 0.05em;;

    margin-top: 1.6rem;
    width: 8.6rem;
    padding: 0.76rem 1.98rem;
  }

  .h23 {
    text-align: left;
    font-size: 2.08rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    line-height: 2.7rem;
  }

  .p07 {
    padding: 0;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: left;
    margin-top: 1.6rem;
    width: 21.16rem;
  }

  .imgClass {
    min-width: 37.04rem;
    min-height: 26.49rem;
    margin-top: 5.84rem;
  }

  .festpc {
    display: flex;
    flex-direction: row;
    width: 65.68rem;
    justify-content: space-between;
  }

  .fest {
    width: 23.56rem;
    justify-content: start;
    margin: 0;
    margin-top: 12.88rem;
    margin-bottom: 12.8rem;
  }

  .h24 {
    text-align: left;
    font-size: 3.08rem;
    font-weight: 600;
    line-height: 2.704rem;
  }
  
  .p08 {
    padding: 0;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: left;
    margin: 1.6rem 0 2.4rem 0;
  }

  .b2 {
    text-align: left;
    margin: 0;
    width: 8.6rem;
    height: 2.36rem;
    padding: 0.76rem 1.76rem;

    font-size: 0.72rem;
    font-weight: 600;
    line-height: 0.84rem;
  }

  .imgFest {
    width: 35.352rem;
    height: 28.67rem;
    margin-top: 5.44rem;
  }

  footer {
    flex-direction: row;
    padding-top: 1.6rem;
    padding-bottom: 1.52rem;
    padding-left: 9.6rem;
    padding-right: 9.6rem;
    justify-content: space-between;
  }

  .foot {
    justify-content: start;
    align-items: left;
    width: 12.84rem;
  }
  .imgdiv {
    justify-content: start;
  }

  .imgfooter {
    width: 12.84rem;
    height: 6.4rem;
  }

  .p10{
    display: none;
  }

  .p101 {
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 170%;
  }

  .p09 {
    font-size: 0.8rem;
    line-height: 170%;
    padding: 0;
    margin-bottom: 2.76rem;
    margin-top: 0.8rem;
  }

  .nav1 {
    padding-top: 1.56rem;
    display: flex;
    flex-direction: row;
    width: 9.28rem;
    margin: 0 10.48rem 0 8.52rem;
    justify-content: start;
  }
  
  .nav1 li {
    margin-bottom: 1.2rem;
    text-transform: uppercase;
  }

  .a02 {
    font-size: 0.8rem;
    line-height: 1.04rem;
  }

  .links {
    padding-top: 1.2rem;
    width: 11.2rem;
  }

  .ul2 {
    margin: 0;
    margin-bottom: 2rem;
  }

  .ul12 {
    padding-left: 6rem;
  }

  .a {
    font-size: 0.64rem;
    font-weight: 600;
    line-height: 0.76rem;
    text-align: center;
    border-radius: 5px;
    border: 0;
    text-decoration: none;

    padding: 0.64rem 2rem;
    margin: 0 auto;
    width: 11.36rem;
  }

  #p04 {
    margin: 0;
    text-align: left;
    margin-bottom: 0.88rem;
    font-size: 0.88rem;
    line-height: 130%;
  }

  .imglinks {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media (min-width:1024px){
  .donatebutton {
    display: block;
    background-color: #F9523B;
    color: white;
  
    font-weight: 600;
    font-size: 0.96rem;
    line-height: 1.12rem;
  
    border: 0;
    border-radius: 5px;
    margin: 2.1rem auto 2.1rem 6.08rem;
    padding: 0.8rem 2.24rem;
  }
  header {
    font-size: 0.85rem;
    font-weight: 500;
  }
  
  .headerlogopc {
    display: block;
    width: 13.86rem;
    height: 6.93rem;
  }

  .headerlogo{
    display: none;
  }

  .head {
    display: flex;
    justify-content: start;
    height: 7.5rem;
    padding: 0.27rem 12.8rem 0 12rem;
  }

  .navhead{
    display: flex;
  }

  .ulhead {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 11.47rem;
    padding-top: 2.98rem;
  }

  .lihead {
    padding-right: 3.2rem;
  }
  
  .menubutton {
    display: none;
  }

  
  
  .h1{
    font-size: 5.12rem;
    font-weight: 500;
    line-height: 5.8rem;
    letter-spacing: 0.05em;
    text-align: left;
  }

  .volunteers{
    padding-left: 12.8rem;
    padding-right: 4.75rem;
    margin: 7.95rem 0 7.95rem 0;
    justify-content: start;
  }

  .imgVol {
    width: 35.185rem;
    height: 28.66rem;
  }

  .volun{
    flex-direction: row;
  }

  .imgVol {
    margin-right: 8.83rem;
    margin-bottom: 2.4rem;
  }

  #p01{
    font-size: 1.7rem;
    line-height: 130%;
  }

  #p2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: left;
  }

  .testimonials {
    margin: 9.54rem 0 5.3rem 0;
    padding: 0 12.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .h21{
    font-size: 2.77rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    line-height: 3.6rem;
    text-align: center;
  }

  blockquote{
    font-size: 1.28rem;
    font-weight: 500;
    line-height: 1.92rem;
    text-align: center;
  
    width: 46.35rem;
    padding: 0;
    margin: 4.27rem auto 3.2rem auto;

  }

  .p04 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: center;
  
    width: 4.32rem;
  }

  .p05 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: center;
    opacity: 0.7;

    margin: 0;
    width: 10.67rem;
  }

  .leadpc {
    display: flex;
    justify-content: space-between;
    width: 89.6rem;
  }

  .lead {
    width: 31.41rem;
    padding: 0;
    justify-content: start;
    margin-top: 19.147rem;
  }

  .b1{
    font-size: 0.96rem;
    font-weight: 600;
    line-height: 1.12rem;
    background-color: var(--color-button);
    color: var(--color-text1);
    text-align: left;
    border-radius: 5px;

    border: 0;
    margin: 0;
    padding: 1rem 1.92rem;
    max-width: 15.147rem;
  }

  .h22 {
    text-align: left;
    font-size: 2.77rem;
    line-height: 3.6rem;
  }

  .p06 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
  
    margin: 2.1rem auto 2.347rem auto;
  }

  .img2 {
    width: 49.547rem;
    height: 54.23rem;
  }

  .classpc {
    display: flex;
    justify-content: space-between;
    width: 84.16rem;
    margin-left: 13rem;
  }

  .classroom {
    display: flex;
    width: 29.227rem;
    margin: 10.93rem 0 16.27rem 0;
  }

  .volunteerbut {
    display: block;

    background-color: yellow;
    border: 0;
    border-radius: 5px;

    font-weight: 600;
    font-size: 0.96rem;
    line-height: 1.12rem;
    letter-spacing: 0.05em;;

    margin-top: 2.1rem;
    width: 11.47rem;
    padding: 1rem 2.64rem;
  }

  .h23 {
    text-align: left;
    font-size: 2.77rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    line-height: 3.6rem;
  }

  .p07 {
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: left;
    margin-top: 2.13rem;
    width: 28.21rem;
  }

  .imgClass {
    min-width: 49.39rem;
    min-height: 35.32rem;
    margin-top: 7.787rem;
  }

  .festpc {
    display: flex;
    flex-direction: row;
    width: 87.57rem;
    justify-content: space-between;
  }

  .fest {
    width: 31.4rem;
    justify-content: start;
    margin: 0;
    margin-top: 17.17rem;
    margin-bottom: 17rem;
  }

  .h24 {
    text-align: left;
    font-size: 2.77rem;
    font-weight: 600;
    line-height: 3.6rem;
  }
  
  .p08 {
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    text-align: left;
    margin: 2.1rem 0 3.2rem 0;
  }

  .b2 {
    text-align: left;
    margin: 0;
    width: 11.47rem;
    height: 3.147rem;
    padding: 1rem 2.347rem;

    font-size: 0.96rem;
    font-weight: 600;
    line-height: 1.12rem;
  }

  .imgFest {
    width: 47.136rem;
    height: 38.2rem;
    margin-top: 7.25rem;
  }

  footer {
    flex-direction: row;
    padding-top: 2.1rem;
    padding-bottom: 2rem;
    padding-left: 12.8rem;
    padding-right: 12.8rem;
    justify-content: space-between;
  }

  .foot {
    justify-content: start;
    align-items: left;
    width: 17.12rem;
  }
  .imgdiv {
    justify-content: start;
  }

  .imgfooter {
    width: 17.12rem;
    height: 8.48rem;
  }

  .p10{
    display: none;
  }

  .p101 {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 170%;
  }

  .p09 {
    font-size: 1rem;
    line-height: 170%;
    padding: 0;
    margin-bottom: 3.68rem;
    margin-top: 1rem;
  }

  .nav1 {
    padding-top: 2.08rem;
    display: flex;
    flex-direction: row;
    width: 12.37rem;
    margin: 0 13.97rem 0 11.36rem;
    justify-content: start;
  }
  
  .nav1 li {
    margin-bottom: 1.6rem;
    text-transform: uppercase;
  }

  .a02 {
    font-size: 1rem;
    line-height: 1.39rem;
  }

  .links {
    padding-top: 1.6rem;
    width: 14.9rem;
  }

  .ul2 {
    margin: 0;
    margin-bottom: 2.67rem;
  }

  .ul12 {
    padding-left: 8rem;
  }

  .a {
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 0;
    text-decoration: none;

    padding: 0.85rem 2.67rem;
    margin: 0 auto;
    width: 15.147rem;
  }

  #p04 {
    margin: 0;
    text-align: left;
    margin-bottom: 1.167rem;
    font-size: 1rem;
    line-height: 130%;
  }

  .imglinks {
    width: 2.12rem;
    height: 2.12rem;
  }
}

@media (min-width:1440px){
  .donatebutton {
    display: block;

    font-weight: 600;
    font-size: 1.35rem;
    line-height: 1.575rem;

    border: 0;
    border-radius: 5px;
    margin: 3rem auto 3rem 8.55rem;
    padding: 1.125rem 3.15rem;
  }

  header {
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .headerlogopc {
    display: block;
    width: 19.5rem;
    height: 9.75rem;
  }

  .headerlogo {
    display: none;
  }

  .head {
    display: flex;
    justify-content: space-between;
    height: 10.125rem;
    padding: 0.375rem 18rem 0 16.875rem;
  }

  .navhead {
    display: flex;
  }

  .ulhead {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 16.125rem;
    padding-top: 4.2rem;
  }

  .lihead {
    padding-right: 4.5rem;
  }
  
  .menubutton {
    display: none;
  }

  .h1{
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 8.175rem;
    letter-spacing: 0.05em;
    text-align: left;
  }

  .volunteers{
    padding-left: 18rem;
    padding-right: 6.675rem;
    margin: 11.175rem 0 11.175rem 0;
    justify-content: start;
  }

  .imgVol {
    width: 49.479rem;
    height: 40.3rem;
  }

  .volun{
    flex-direction: row;
  }

  .imgVol {
    margin-right: 12.42rem;
    margin-bottom: 3.375rem;
  }

  #p01{
    font-size: 2.4rem;
    line-height: 130%;
  }

  #p2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    text-align: left;
  }

  .testimonials {
    margin: 13.425rem 0 7.5rem 0;
    padding: 0 18rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .h21{
    font-size: 3.9rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    line-height: 5.07rem;
    text-align: center;
  }

  blockquote{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
    text-align: center;
  
    width: 65.175rem;
    padding: 0;
    margin: 6rem auto 4.5rem auto;

  }

  .p04 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    text-align: center;
  
    width: 6.075rem;
  }

  .p05 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    text-align: center;
    opacity: 0.7;

    margin: 0;
    width: 15rem;
  }

  .leadpc {
    display: flex;
    justify-content: space-between;
    width: 126rem;
  }

  .lead {
    width: 44.175rem;
    padding: 0;
    justify-content: start;
    margin-top: 26.925rem;
  }

  .b1{
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 1.575rem;
    background-color: var(--color-button);
    color: var(--color-text1);
    text-align: left;
    border-radius: 5px;

    border: 0;
    margin: 0;
    padding: 1.425rem 2.7rem;
    max-width: 21.3rem;
  }

  .h22 {
    text-align: left;
    font-size: 3.9rem;
    line-height: 5.07rem;
  }

  .p06 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
  
    margin: 3rem auto 3.3rem auto;
  }

  .img2 {
    width: 69.675rem;
    height: 76.275rem;
  }

  .classpc {
    display: flex;
    justify-content: space-between;
    width: 118.35rem;
    margin-left: 18.375rem;
  }

  .classroom {
    display: flex;
    width: 41.1rem;
    margin: 15.375rem 0 22.875rem 0;
  }

  .volunteerbut {
    display: block;

    background-color: yellow;
    border: 0;
    border-radius: 5px;

    font-weight: 600;
    font-size: 1.35rem;
    line-height: 1.575rem;
    letter-spacing: 0.05em;;

    margin-top: 3rem;
    width: 16.125rem;
    padding: 1.425rem 3.7rem;
  }

  .h23 {
    text-align: left;
    font-size: 3.9rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    line-height: 5.07rem;
  }

  .p07 {
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    text-align: left;
    margin-top: 3rem;
    width: 39.675rem;
  }

  .imgClass {
    min-width: 69.45rem;
    min-height: 49.66rem;
    margin-top: 10.95rem;
  }

  .festpc {
    display: flex;
    flex-direction: row;
    width: 123.15rem;
    justify-content: space-between;
  }

  .fest {
    width: 44.175rem;
    justify-content: start;
    margin: 0;
    margin-top: 24.15rem;
    margin-bottom: 24rem;
  }

  .h24 {
    text-align: left;
    font-size: 3.9rem;
    font-weight: 600;
    line-height: 5.07rem;
  }
  
  .p08 {
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    text-align: left;
    margin: 3rem 0 4.5rem 0;
  }

  .b2 {
    text-align: left;
    margin: 0;
    width: 16.125rem;
    height: 4.425rem;
    padding: 1.425rem 3.3rem;

    font-size: 1.35rem;
    font-weight: 600;
    line-height: 1.575rem;
  }

  .imgFest {
    width: 66.285rem;
    height: 53.75rem;
    margin-top: 10.2rem;
  }

  footer {
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 2.85rem;
    padding-left: 18rem;
    padding-right: 18rem;
    justify-content: space-between;
  }

  .foot {
    justify-content: start;
    align-items: left;
    width: 24rem;
  }
  .imgdiv {
    justify-content: start;
  }

  .imgfooter {
    width: 24rem;
    height: 12rem;
  }

  .p10{
    display: none;
  }

  .p101 {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 170%;
  }

  .p09 {
    font-size: 1.5rem;
    line-height: 170%;
    padding: 0;
    margin-bottom: 5.175rem;
    margin-top: 1.5rem;
  }

  .nav1 {
    padding-top: 2.9rem;
    display: flex;
    flex-direction: row;
    width: 17.4rem;
    margin: 0 26.2rem 0 15.975rem;
    justify-content: start;
  }
  
  .nav1 li {
    margin-bottom: 2.25rem;
    text-transform: uppercase;
  }

  .a02 {
    font-size: 1.5rem;
    line-height: 1.95rem;
  }

  .links {
    padding-top: 2.25rem;
    width: 21rem;
  }

  .ul2 {
    margin: 0;
    margin-bottom: 3.75rem;
  }

  .ul12 {
    padding-left: 11.25rem;
  }

  .a {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.425rem;
    text-align: center;
    border-radius: 5px;
    border: 0;
    text-decoration: none;

    padding: 1.2rem 3.75rem;
    margin: 0 auto;
    width: 21.3rem;
  }

  #p04 {
    margin: 0;
    text-align: left;
    margin-bottom: 1.65rem;
    font-size: 1.5rem;
    line-height: 130%;
  }

  .imglinks {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width:1920px){
  .donatebutton {
    display: block;
    background-color: #F9523B;
    color: white;
  
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.1rem;
  
    border: 0;
    border-radius: 5px;
    margin: 4rem auto 4rem 11.4rem;
    padding: 1.5rem 4.2rem;
  }
  header {
    font-size: 1.6rem;
    font-weight: 500;
  }
  
  .headerlogopc {
    display: block;
    width: 26rem;
    height: 13rem;
  }

  .headerlogo {
    display: none;
  }
  
  .head {
    display: flex;
    justify-content: start;
    height: 13.5rem;
    padding: 0.5rem 24rem 0 22.5rem;
  }

  .navhead{
    display: flex;
  }

  .ulhead {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 21.5rem;
    padding-top: 5.593rem;
  }

  .lihead {
    padding-right: 6rem;
  }
  
  .menubutton {
    display: none;
  }

  .h1{
    font-size: 9.6rem;
    font-weight: 500;
    line-height: 10.9rem;
    letter-spacing: 0.05em;
    text-align: left;
  }

  .volunteers{
    padding-left: 24rem;
    padding-right: 8.9rem;
    margin: 14.9rem 0 14.9rem 0;
    justify-content: start;
  }

  .imgVol {
    width: 659.72px;
    height: 537.42px;
  }

  .volun{
    flex-direction: row;
  }

  .imgVol {
    margin-right: 16.56rem;
    margin-bottom: 4.5rem;
  }

  #p01{
    font-size: 3.2rem;
    line-height: 130%;
  }

  #p2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: left;
  }

  .testimonials {
    margin: 17.9rem 0 10rem 0;
    padding: 0 24rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .h21{
    font-size: 5.2rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    line-height: 6.76rem;
    text-align: center;
  }

  blockquote{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    text-align: center;
  
    width: 869px;
    padding: 0;
    margin: 8rem auto 6rem auto;

  }

  .p04 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
  
    width: 8.1rem;
  }

  .p05 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    opacity: 0.7;

    margin: 0;
    width: 20rem;
  }

  .leadpc {
    display: flex;
    justify-content: space-between;
    width: 1680px;
  }

  .lead {
    width: 58.9rem;
    padding: 0;
    justify-content: start;
    margin-top: 35.9rem;
  }

  .b1{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.1rem;
    background-color: var(--color-button);
    color: var(--color-text1);
    text-align: left;
    border-radius: 5px;

    border: 0;
    margin: 0;
    padding: 1.9rem 3.6rem;
    max-width: 28.4rem;
  }

  .h22 {
    text-align: left;
    font-size: 5.2rem;
    line-height: 6.76rem;
  }

  .p06 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
  
    margin: 4rem auto 4.4rem auto;
  }

  .img2 {
    width: 929px;
    height: 1017px;
  }

  .classpc {
    display: flex;
    justify-content: space-between;
    width: 157.8rem;
    margin-left: 24.5rem;
  }

  .classroom {
    display: flex;
    width: 54.8rem;
    margin: 20.5rem 0 30.5rem 0;
  }

  .h23 {
    text-align: left;
    font-size: 5.2rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    line-height: 6.76rem;
  }

  .volunteerbut {
    display: block;

    background-color: yellow;
    border: 0;
    border-radius: 5px;

    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0.05em;;

    margin-top: 4rem;
    width: 21.5rem;
    padding: 1.9rem 4.95rem;
  }

  .p07 {
    padding: 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: left;
    margin-top: 4rem;
    width: 52.9rem;
  }

  .imgClass {
    min-width: 926.05px;
    min-height: 662.23px;
    margin-top: 14.6rem;
  }
  
  .festpc {
    display: flex;
    flex-direction: row;
    width: 164.2rem;
    justify-content: space-between;
  }

  .fest {
    width: 58.9rem;
    justify-content: start;
    margin: 0;
    margin-top: 32.2rem;
    margin-bottom: 32rem;
  }

  .h24 {
    text-align: left;
    font-size: 5.2rem;
    font-weight: 600;
    line-height: 6.76rem;
  }
  
  .p08 {
    padding: 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: left;
    margin: 4rem 0 6rem 0;
  }

  .b2 {
    text-align: left;
    margin: 0;
    width: 21.5rem;
    height: 5.9rem;
    padding: 1.9rem 4.4rem;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.1rem;
  }

  .imgFest {
    width: 88.38rem;
    height: 71.674rem;
    margin-top: 13.6rem;
  }

  footer {
    flex-direction: row;
    padding-top: 4rem;
    padding-bottom: 3.8rem;
    padding-left: 24rem;
    padding-right: 24rem;
    justify-content: space-between;
  }

  .foot {
    justify-content: start;
    align-items: left;
    width: 32.1rem;
  }
  .imgdiv {
    justify-content: start;
  }

  .imgfooter {
    width: 32.1rem;
    height: 16rem;
  }

  .p10{
    display: none;
  }

  .p101 {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 170%;
  }

  .p09 {
    font-size: 2rem;
    line-height: 170%;
    padding: 0;
    margin-bottom: 6.9rem;
    margin-top: 2rem;
  }

  .nav1 {
    padding-top: 3.9rem;
    display: flex;
    flex-direction: row;
    width: 23.2rem;
    margin: 0 26.2rem 0 21.3rem;
    justify-content: start;
  }
  
  .nav1 li {
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  .a02 {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .links {
    padding-top: 3rem;
    width: 28rem;
  }

  .ul2 {
    margin: 0;
    margin-bottom: 5rem;
  }

  .ul12 {
    padding-left: 15rem;
  }

  .a {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.9rem;
    text-align: center;
    border-radius: 5px;
    border: 0;
    text-decoration: none;

    padding: 1.6rem 5rem;
    margin: 0 auto;
    width: 28.4rem;
  }

  #p04 {
    margin: 0;
    text-align: left;
    margin-bottom: 2.2rem;
    font-size: 2rem;
    line-height: 130%;
  }
}